.chatDiv {
  display: flex;
}

.leftChatDiv {
  background-color: white;
  padding: 30px 0px;
  height: 92vh;
}

.leftChatDiv .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftChatDiv .top .name {
  font-size: 30px;
}

.leftChatDiv .top img {
  width: 200px;
  border-radius: 50%;
}

.leftChatDiv .bottom {
}

.leftChatDiv .bottom .header {
  margin-top: 30px;
  font-weight: 500;
  font-size: 25px;
  color: var(--font-light1);
  padding-left: 30px;
}

.rightChatDiv {
  flex: 1;
  height: 92vh;
}

.chat-room-container {
  width: 500px;
}

.chat-room-card {
  border-top: 1px solid rgb(243, 243, 243);
  border-bottom: 1px solid rgb(243, 243, 243);
  display: flex;
  gap: 20px;
  padding: 20px 30px;
}

.chat-room-card.select {
  background-color: rgb(243, 243, 243);
}

.chat-room-card:hover {
  background-color: rgb(243, 243, 243);
}

.chat-room-card img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.chat-room-card .right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-room-card .right .top {
  color: var(--font-light2);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat-room-card .right .top .name {
  font-size: 20px;
}

.chat-room-card .right .last-message {
  font-size: 14px;
  color: var(--font-light3);
}

.rightChatDiv .room-container {
  height: 100%;
}

.rightChatDiv .blank-room {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--font-light3);
}
