.outerDiv {
  display: flex;
}

.accountManagement {
  width: 85vw;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  padding-top: 7vh;
  align-items: start;
}

.accountCard {
  display: flex;
  width: 79vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.445);
  border-radius: 5px;
  padding: 1.2vw;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
  font-weight: 600;
}

.tableHeader{
  display: flex;
  width: 79vw;
  border-radius: 5px;
  padding: 1.2vw;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
  font-weight: bolder;
  background-color: lightgrey;
  margin-left: 0.4vw;
}

.dataDiv,
.actionDiv {
  display: flex;
  justify-content: space-between;
}

.dataDiv {
  width: 10vw;
}

.actionDiv {
  width: 15vw;
}

.roleDiv {
  display: flex;
  width: 7vw;
}

.accountTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 80vw;
  height: 66vh;
}
.accountTable::-webkit-scrollbar {
  display: none;
}

.accManagementTitle {
  font-size: 1.8vw;
  font-weight: 700;
  margin-bottom: 2vh;
}

.searchBar {
  width: 26vw;
  padding: 0.5vw;
  background-color: #f1f1f1;
  border: #d0d0d0 1px solid;
  border-radius: 10px;
  background-image: url("../../../../global/assets/magnifier.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 2.5vw;
  font-size: 1vw;
}

.warningDiv,
.blockDiv,
.UnblockDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3vw;
  cursor: pointer;
}

.unblockImage {
  width: 1vw;
}

.UnblockDiv {
  color: rgb(0, 204, 0);
}

.blockDiv {
  color: red;
}

.warningDiv {
  color: grey;
}

.sendButton,
.cancelWarningButton {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  padding: 0.7vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: #ff7a37;
  color: white;
  border-radius: 10px;
  font-size: 1vw;
  font-weight: 600;
}

.cancelWarningButton {
  background-color: black;
}

.warningModalBlur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.warningModal {
  display: flex;
  background-color: white;
  padding: 1.5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  gap: 1.3vh;
}

.warningText {
  width: 50vw;
  height: 50vh;
  padding: 1vw;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  border-radius: 10px;
  font-size: 1.2vw;
}

.actionWarningButton {
  display: flex;
  gap: 1vw;
}

.warningPopupTitle{
  font-size: 1.2vw;
}
