:root {
  --lightBlue: #b2cbde;
  --lightGrey: #f3f5f8;
  --lightGrey2: #9daab7;
}

.Outer {
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divContainer {
  display: flex;
  background-color: var(--lightGrey);
  height: 650px;
  border-radius: 20px;
}

.leftDiv,
.rightDiv {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftDiv {
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
}

.loginInput {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid var(--lightGrey2);
  background-color: var(--lightGrey);
  padding: 10px;
  padding-bottom: 8px;
  width: 300px;
  margin-bottom: 20px;
}
