@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.card-activecourse {
  overflow: hidden;
  width: 360px;
  height: 360px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-activecourse:active {
  opacity: 0.9;
}
.card-title-activecourse {
  border-radius: 22px 22px 0 0;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  color: white;
  background-position: center center;
  background-size: cover;
}

.card-title-activecourse p {
  font-size: 28px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.card-title-activecourse h1 {
  font-size: 28px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-text-activecourse {
  display: flex;
  flex-direction: row;
}

.card-text-detail-activecourse {
  display: flex;
  width: 180px;
  /* background-color: red; */
  height: 113px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-text-detail-title-activecourse {
  font-size: 21px;
}
.card-text-detail-number-activecourse {
  font-size: 32px;
  font-weight: bold;
}
.card-title-activecourse span {
  margin-top: 20px;
  margin-left: 230px;
  margin-bottom: 30px;
  border-radius: 1.9rem;
  background: #f66a6a;
  justify-content: center;
  display: flex;
  padding: 0.2rem 0.1rem 0.1rem 0;
  width: 7.8rem;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.3rem;
  color: #ffffff;
}
