.permission-table-container {
	margin-top: 30px;
}

.permission-table-content {
	background-color: white;
	padding: 20px;
	padding-top: 10px;
	border-radius: 5px;
}

.permission-table-header {
	display: grid;
	grid-template-columns: 0.3fr 2fr 2.5fr 1.5fr 0.6fr;
	gap: 15px;
	padding: 15px;
	border-bottom: 1px solid rgb(192, 192, 192);
	font-weight: 600;
	box-sizing: border-box;
	text-align: start;
}

.permission-table-row-outer-container {
	height: 60vh;
	overflow: auto;
}

.permission-table-row {
	display: grid;
	text-align: start;
	grid-template-columns: 0.3fr 2fr 2.5fr 1.5fr 0.6fr;
	gap: 15px;
	padding: 15px;
	border-bottom: 1px solid rgb(192, 192, 192);
	transition: all 0.3s;
	color: var(--font-light2);
}

.permission-table-details-button {
	cursor: pointer;
	color: white;
	background-color: #ff6961;
	border-radius: 5px;
	text-align: center;
	padding: 5px 10px;
	text-decoration: none;
}

.permission-table-details-button:hover {
	background-color: #cf4b44;
}
