.course-table-container {
	margin-top: 30px;
}

.course-table-container .table-content {
	background-color: white;
	padding: 20px;
	padding-top: 10px;
	border-radius: 5px;
}

.course-table-container .table-header {
	display: grid;
	grid-template-columns: 4.5fr 1fr 1fr 1fr 1fr 0.8fr 0.8fr;
	gap: 15px;
	padding: 15px;
	border-bottom: 1px rgb(192, 192, 192) solid;
	font-weight: 600;
	box-sizing: border-box;
}

.course-table-container .table-content .table-row-outer-container {
	height: 60vh;
	overflow: auto;
}

.course-table-container .table-content .table-row {
	display: grid;
	grid-template-columns: 4.5fr 1fr 1fr 1fr 1fr 0.8fr 0.8fr;
	gap: 15px;
	padding: 15px;
	border-bottom: 1px rgb(192, 192, 192) solid;
	transition: all;
	color: var(--font-light2);
}

.course-table-container .table-content .edit-button {
	background-color: rgb(0, 162, 255);
	border-radius: 5px;
	text-align: center;
	color: white;
}

.course-table-container .table-content .edit-button:hover {
	background-color: rgb(14, 136, 206);
}

.course-table-container .table-content .delete-button {
	cursor: pointer;
	color: white;
	background-color: #ff6961;
	border-radius: 5px;
	text-align: center;
}

.course-table-container .table-content .delete-button:hover {
	background-color: #cf4b44;
}

.course-table-container .table-content .table-row p {
}
