.reason-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding-left: 200px;
}

.reason-modal-content {
  background: #fff;
  border-radius: 10px;
  width: 800px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.reason-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.reason-modal-header h1 {
  font-size: 24px;
  margin: 0;
}

.reason-modal-close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.reason-modal-body {
  margin-bottom: 20px;
}

.reason-modal-body p {
  margin: 10px 0;
  font-family: Arial, sans-serif;
}

.reason-modal-body input[type="text"] {
  width: 600px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reason-modal-body form {
  display: flex;
  justify-content: space-between;
}

.reason-modal-submit-btn {
  background-color: #4caf50;
  color: white;
  margin-top: 11px;
  margin-bottom: 11px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reason-modal-submit-btn:hover {
  background-color: #45a049;
}

.reason-modal-footer {
  display: flex;
  justify-content: space-between;
}

.reason-modal-back-btn,
.reason-modal-confirm-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.reason-modal-back-btn {
  background-color: #bababa;
  color: white;
}

.reason-modal-back-btn:hover {
  background-color: #a4a3a3;
}

.reason-modal-confirm-btn {
  background-color: #007bff;
  color: white;
}

.reason-modal-confirm-btn:hover {
  background-color: #0056b3;
}
