.withdrawBalance {
  display: flex;
}

.withdrawBalance .rightComponent {
  margin: 2rem 7rem;
  width: 80rem;
  border-radius: 15px;
}
.withdrawBalance .rightComponent .back {
  font-size: 16px;
  margin-bottom: 15px;
}
.withdrawBalance .rightComponent .back:hover {
  text-decoration: underline;
}
.withdrawBalance .rightComponent .back:active {
  opacity: 0.9;
}
.withdrawBalance .rightComponent .currentBalance {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  width: 72vw;
  height: 10rem;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  margin-bottom: 50px;
}
.withdrawBalance .rightComponent .currentBalance p {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 15px;
}
.withdrawBalance .rightComponent .sectionTitle{
    font-size: 16px;
    font-weight: bold;
}
.withdrawBalance .rightComponent .inputNumber{
    border-radius: 10px;
    border: 0px;
    width: 50rem;
    padding: 12px 16px;
    margin: 10px 0;
}
.withdrawBalance .rightComponent .inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}.withdrawBalance .rightComponent .inputContainer p{
    font-size: 16px;
    margin-right: 10px;
}.withdrawBalance .rightComponent .withdrawButton{
  display: flex;
  background-color: #402528;
  padding: 6px 24px;
  color: white;
  border-radius: 15px;
  margin: 20px 0;
}.withdrawBalance .rightComponent .withdrawButton:hover{
  opacity: 0.95;
}.withdrawBalance .rightComponent .withdrawButton:active{
  opacity: 0.9;
}

.withdrawBalance .passwordInput{
  padding: 6px 16px;
  width: 20vw;
  border-radius: 10px;
  border: none;
  margin: 20px 0 ;
}

.withdrawBalance .withdrawalValidationButton{
  display: flex;
  width: 20vw;
}
.withdrawBalance .withdrawalValidationButton .withdrawButton{
  margin-right: 20px;
}

