.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: white;
  font-size: 24px;
}

.paymentpage-banner {
  background: url("https://firebasestorage.googleapis.com/v0/b/aolsofteng.appspot.com/o/asset%2FpaymentpageBanner.png?alt=media&token=032c9c20-1dc5-4151-bd66-59ca49b1feac");
  width: 100%;
  height: 246px;
}
.paymentpage-container {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
}

.paymentpage-container .h1-container-paymentpage-selectedcourse {
  margin-top: 50px;
  margin-left: 520px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  align-self: center;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #ff7a37;
  color: #ffff;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  overflow-wrap: break-word;
}

.paymentpage-container .coursecard-container-paymentpage {
  display: inline-block;
  margin-top: 150px;
  margin-left: 490px;
}

.paymentpage-container .h1-container-paymentpage-selectedtutor {
  margin-top: 50px;
  margin-left: 520px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  align-self: center;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #ff7a37;
  color: #ffff;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  overflow-wrap: break-word;
}

.paymentpage-container-title-new {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  padding-bottom: 100px;
}

.paymentpage-container-title-new-fortitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.h1-container-paymentpage-new {
  margin-top: 50px;
  color: white;
  font-weight: 800;
  font-size: 20px;
  border-radius: 15px;
  background-color: #ff7a37;
  padding: 20px 40px 20px 40px;
  margin-bottom: 10px;
}

.return-button {
  display: flex;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #ff7a37;
  padding: 5px 10px 5px 10px;
  margin-left: 20px;
  border-radius: 10px;
  color: white;
  opacity: 50%;
}

.return-button:hover {
  opacity: 80%;
}

.transaction-detail-container-payment-page {
  display: inline-block;
  height: 620px;
  width: 80%;
  margin-top: 100px;
  margin-left: 140px;
  background-color: #f3ece5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.transaction-detail-title-payment-page {
  font-size: 30px;
  display: flex;
  margin-top: 30px;
  margin-left: 370px;
  margin-right: 300px;
  color: rgb(42, 47, 42);
  /* background-color: blue; */
  font-weight: 700;
}

.payment-page-submit-payment-form {
  margin-top: 50px;
  margin-left: 150px;
}

.transaction-detail-payment-page-container-1 {
  padding-top: 20px;
  padding-left: 50px;
  /* background-color: #ff7a37; */
}
.transaction-detail-payment-page-container-1-course {
  padding-top: 70px;
  padding-left: 50px;
}
.transaction-detail-payment-page-container-1-course span {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #ff7a37;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 30px;
}
.transaction-detail-payment-page-container-1 span {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #ff7a37;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 30px;
}

.transaction-detail-payment-page-container-1-column-container {
  display: flex;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 70px;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 17px;
}

.transaction-detail-payment-page-container-1-column-container-totalPrice {
  display: flex;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 70px;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 17px;
}

.transaction-detail-totalPrice-title {
  background-color: #ff7a37;
  font-size: 16px;
  font-weight: 700;
  padding-right: 9px;
  padding-left: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #f3ece5;
  border-radius: 10px;
}

.transaction-detail-totalPrice-details {
  background-color: #ff7a37;
  font-size: 16px;
  font-weight: 700;
  padding-right: 9px;
  padding-left: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #f3ece5;
  border-radius: 10px;
}

.payment-page-submit-payment-form {
  display: flex;
  padding-left: 30px;
}

.payment-page-submit-payment-form-h1 {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #ff7a37;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.payment-method-radio-container-payment-page {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.payment-method-radio-container-payment-page-row  {
display: flex;
flex-direction: row;
padding-top: 10px;
padding-bottom: 10px;
align-items: center;
}
.payment-method-radio-container-payment-page-row input {
  width: 30px;
  height: 30px;
}

.payment-method-radio-container-payment-page-row label {
  font-size: 15px;
  padding-left: 10px;
  text-align: center;
  vertical-align: center;
  margin-top: 0px;
}
